<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">流利说Messages</li>
      <% current_user.contacts.each_with_index do |c,index| %>
        <li class="treeview">
          <a href="<%= contact_messages_path(c.id)%>">
            <i class="fa fa-user"></i>
            <span><%= c&.user&.email %></span>
            <% if (unread = current_user.unread_messages) > 0%>
              <span class="pull-right-container">
                <span class="label bg-green pull-right">
                  <%= unread %>
                </span>
              </span>
            <%end%>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

