<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">聚会玩平台</li>
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-gamepad"></i> <span>游戏</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/jhw/game/inners"><i class="fa fa-star"></i>内置游戏</a></li>
          <li><a href="/jhw/game/third_parts"><i class="fa fa-star"></i>热门游戏</a></li>
          <li><a href="/jhw/game/html5s"><i class="fa fa-star"></i>Html5游戏</a></li>
        </ul>
      </li>
      <li class="">
        <a href="/jhw/recommendations">
          <i class="fa fa-thumbs-o-up"></i> <span>推荐游戏</span>
        </a>
      </li>
      <li class="">
        <a href="/jhw/gifts">
          <i class="fa fa-gift"></i> <span>游戏礼包</span>
        </a>
      </li>
      <li class="">
        <a href="/jhw/categories">
          <i class="fa fa-weixin"></i> <span>游戏分类</span>
        </a>
      </li>
      <li>
        <a href="/jhw/banners">
          <i class="fa fa-picture-o"></i> <span>Banners</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

